* {
	box-sizing: border-box;
}

a {
	color: white;
}

body {
	color: white;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	-webkit-user-select: none;
	user-select: none;
}

.content {
	background-color: black;
	font-family: Consolas;
	height: calc(100% - 40px);
	left: 0;
	overflow: auto;
	padding: 15px;
	position: fixed;
	top: 40px;
	width: 100%
}

.title {
	padding: 10px 15px;
}

.title-bar {
	background-color: #1E1E1E;
	cursor: default;
	display: flex;
	height: 40px;
	justify-content: space-between;
	left: 0%;
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-app-region: drag
}

.win-control {
	align-items: center;
	color: white;
	cursor: default;
	display: flex;
	font-family: monospace;
	font-size: 20px;
	text-align: center;
	-webkit-app-region: no-drag
}

.win-control div {
	height: 40px;
	line-height: 40px;
	transition: all .25s;
	width: 40px
}

.win-control div:hover {
	background-color: #007AF4;
}

.win-control div:active {
	background-color: white;
	color: #0066CC
}

::-webkit-scrollbar {
	display: none
}